<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
       <h2>The Conveyor Belt</h2>
       <table class='table-bordered' ng-controller="NoteController" ng-grid>
          <tr><th>From </th><th>Subject </th></tr>
          <tr ng-repeat="email in inbox"><td>{{email.from}} </td><td> {{email.subject}}</td></tr>
          </li>
       </table>
    </div>
    <div class="span10">
      <!--Body content-->
      
      <a ng-click='sortManage()'><img src="../images/manage.jpg"></a><a ng-click='sortFocus()'><img src="../images/focus.jpg"></a><br><a ng-click='sortAvoid()'><img src="../images/avoid.jpg"></a><a ng-click='sortLimit()'><img src="../images/limit.jpg"></a>
      <a ng-controller='timeLeft'>Time left: {{ timeLeft }} seconds.</a>

      <h3>Sort This Email: </h3>
      <table class='table-bordered' ng-controller="NoteController" ng-grid>
        <tr><td> Received: </td><td> {{currentEmail.time}}</td></tr>
        <tr><td> To: </td><td> {{currentEmail.to}}</td></tr> 
        <tr><td> From: </td><td> {{currentEmail.from}}</td></tr>
        <tr><td> Subject: </td><td> {{currentEmail.subject}}</td></tr>
        <tr><td> Body: </td><td> {{currentEmail.body}}</td></tr>
      </table>
    </div>
  </div>
  </div>